*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: cursive, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0% {
    background-image: url("https://images.pexels.com/photos/355952/pexels-photo-355952.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }
  100% {
    background-image: url("https://images.pexels.com/photos/6375/quote-chalk-think-words.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=126");
  }
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  opacity: 0;
  transform: scale(0.7);
  animation: scale-up 10s ease forwards;
}

@keyframes scale-up {
  to {
    opacity: 1;
    transform: none;
  }
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  animation: step-start;
}

@keyframes step-start {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  50%,
  100% {
    transform: translate(-1px, -5px);
  }
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
